* {
    margin: 0;
    
}

:root {
    --bg-blue: #188890;
    --bg-yellow: #FAC11A;
    --bg-green: #00D159;
    --bg-orange: #F58634;
}

body {
    background: var(--bg-green);
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    margin: 3% 0;
    text-shadow: 2px 2px black;
}

h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 2em;
    margin: 3% 0;
    text-shadow: 2px 2px black;
}

#grid-container {
    width: 80vw;
    margin-left: 10vw;
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#grid-container > article {
    background: var(--bg-green);
    border-radius: 10px;
}

#grid-container article:nth-of-type(1) {
    grid-row-start: span 3;
    background: var(--bg-blue)
}
#grid-container article:nth-of-type(2) {
    grid-column-start: span 2;
    background: var(--bg-yellow);
}

#grid-container article:last-of-type {
    grid-column-start: span 2;
    background: var(--bg-orange);
}

#grid-container h3 {
    color: white;
    text-shadow: 1px 1px black;
    margin-left: 5%;
}

#grid-container p {
    line-height: 25px;
    width: 90%;
    margin-left: 5%;

}

#diamond-grid-container {
    width: 34vw;
    margin-left: 33vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
    background: white;
    padding: 1vw;
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    gap: 1vw;
    box-sizing: border-box;
    transform: rotate(45deg);


}

#diamond-grid-container div {
    background: var(--bg-blue);
    transform: rotate(-45deg);
    text-align: center;
    line-height: 8vw;
    transform-origin: center;
    width: 7vw;
    height: 7vw;
    text-transform: uppercase;
    box-sizing: border-box;
    
}

#diamond-grid-container > article {
    background: var(--bg-green);
    border-radius: 2px;
    border: 3px solid var(--bg-blue);
    padding:15px 10px;
    overflow:hidden;
}

#another-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin-bottom: 10vh;
    padding: 20px 150px;
}

.grid-item {
    background: var(--bg-blue);
    height: 70vh;
    border-radius: 2px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.534);
    position: relative;
    color: white;
    z-index: 1;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
    
}

.grid-item h3 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 165%;
    transition: all 0.3s ease;
    font-size: 1.5em;
}

.grid-item p {
    z-index: 1;
    text-align: center;
    pointer-events: none;
}

.grid-item span::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: -1;
}

.grid-item:hover span::after {
    background: rgba(0, 0, 0, 0.2);
}

.grid-item:hover h3 {
    margin-top: 70%;
    
}



.grid-item:first-of-type {
    background-image: url('Images/forest.jpg');
    top: 10px;
}

.grid-item:nth-of-type(2) {
    background-image: url('Images/desert.jpg');
    top: -10px;
}

.grid-item:nth-of-type(3) {
    background-image: url('Images/tundra.jpg');
    top: 10px;
}

.grid-item:nth-of-type(4) {
    background-image: url('Images/beach.jpg');
    top: -10px;
}

.button {
    outline: none;
    color: white;
    background: black;
    border-radius: 0px;
    border: none;
    width: 46%;
    margin-left: 27%;
    padding: 10px 10px;
    text-transform: uppercase;
    margin-top: 5%;
    cursor: pointer;
}